services:
  #Python Caption Service
  - type: web
    name: python-caption
    runtime: docker
    dockerfilePath: ./pythonCaption/Dockerfile
    dockerContext: ./pythonCaption
    envVars:
      - key: PORT
        value: 8000

  #Spring Boot API
  - type: web
    name: spring-api
    runtime: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PYTHON_CAPTION_URL
        fromService:
          name: python-caption
          type: web
          property: hostport
          envVarKey: PYTHON_CAPTION_URL

  #Frontend
  - type: web
    name: frontend
    runtime: docker
    dockerfilePath: ./frontend/frontend/Dockerfile
    dockerContext: ./frontend/frontend
    envVars:
      - key: API_URL
        fromService:
          name: spring-api
          type: web
          property: hostport